<launch>

  <!-- URDF and SRDF without gripper -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description_no_gripper" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="$(arg robot_description_no_gripper)"
         command="$(find xacro)/xacro --inorder $(find prbt_support)/urdf/prbt.xacro has_gripper:=false"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description_no_gripper)_semantic" command="$(find xacro)/xacro --inorder
         $(find prbt_moveit_config)/config/prbt.srdf.xacro has_gripper:=false" />
  
  <!-- URDF and SRDF with gripper -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description_with_gripper" default="robot_description_with_gripper"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="$(arg robot_description_with_gripper)"
         command="$(find xacro)/xacro --inorder $(find prbt_support)/urdf/prbt.xacro has_gripper:=true"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description_with_gripper)_semantic" command="$(find xacro)/xacro --inorder
         $(find prbt_moveit_config)/config/prbt.srdf.xacro has_gripper:=true" />


  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description_no_gripper)_planning">
    <rosparam command="load" file="$(find prbt_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description_no_gripper)_planning">
    <rosparam command="load" file="$(find prbt_moveit_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description_no_gripper)_kinematics">
    <rosparam command="load" file="$(find prbt_moveit_config)/config/kinematics.yaml"/>
  </group>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description_with_gripper)_planning">
    <rosparam command="load" file="$(find prbt_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description_with_gripper)_planning">
    <rosparam command="load" file="$(find prbt_moveit_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description_with_gripper)_kinematics">
    <rosparam command="load" file="$(find prbt_moveit_config)/config/kinematics.yaml"/>
  </group>
  
</launch>
