# Travis CI instructions

sudo: required
dist: trusty
language: generic

notifications:
  email:
    on_failure: always
    recipients:
      - a.gutenkunst@pilz.de
      - c.henkel@pilz.de
      - h.slusarek@pilz.de
      - i.martini@pilz.de
env:
  global:
    - ROS_DISTRO="melodic"
    - CATKIN_LINT=true
    - CATKIN_PARALLEL_TEST_JOBS="-p1"
    - DOCKER_RUN_OPTS='-e ROSCONSOLE_FORMAT=[${severity}][${time}-${thread}[${file}:${line}]${message}'
    - BEFORE_SCRIPT="mkdir /config
                     && echo 'log4j.logger.ros.prbt_hardware_support=DEBUG' > /config/rosconsole.config"
  matrix:
    - ROS_REPO=ros
    - ROS_REPO=ros-shadow-fixed
matrix:
  allow_failures:
    - env: ROS_REPO=ros
  fast_finish: true
install:
  - git clone --depth=1 https://github.com/ros-industrial/industrial_ci.git .industrial_ci
script:
  - .industrial_ci/travis.sh
