<?xml version="1.0"?>
<launch>
  <!-- HW related settings ======================================================================================== -->
  <!-- gripper e.g. pg70. See documentation of meta-package prbt_grippers -->
  <arg name="gripper" default="" />

  <!-- Enable safety interface -->
  <arg name="iso10218_support" default="true" />

  <!-- Configure modbus settings depending on the configured safety hardware -->
  <!-- These arguments have no effect if iso10218_support is false -->
  <arg name="safety_hw" default="pss4000"/>
  <arg name="read_api_spec_file" default="$(find prbt_hardware_support)/config/modbus_read_api_spec_$(arg safety_hw).yaml" />
  <arg name="write_api_spec_file" default="$(find prbt_hardware_support)/config/modbus_write_api_spec_$(arg safety_hw).yaml" />
  <arg name="modbus_server_ip" default="$(eval '192.168.0.10' if safety_hw=='pss4000' else '169.254.60.1')" />

  <!-- Options to enable and disable different hardware aspects -->
  <!-- These arguments have no effect if iso10218_support is false -->
  <arg name="has_braketest_support" default="true"/>
  <arg name="has_operation_mode_support" default="true"/>
  <arg name="visual_status_indicator" default="true"/>

  <!-- Path to the config file for canopen_motor_node -->
  <arg name="canopen_config" default="$(find prbt_support)/config/manipulator_driver.yaml" />


  <!-- Control related settings =================================================================================== -->
  <!-- load description to the parameter server. If you wrote your own xacro model, you can load it yourself
       and set load_robot_description to false -->
  <arg name="load_robot_description" default="true" />

  <!-- manipulator_controller.yaml defines different types of controllers and you can select which ones
       are automatically started.
       By default, spawn joint_state and joint_trajectory controllers;
       gripper controller is added to the defaults list, if gripper arg is set -->
  <arg name="spawn_controllers"
       default="$(eval 'manipulator_joint_trajectory_controller manipulator_joint_state_controller' +
                      (' gripper_joint_trajectory_controller' if arg('gripper') else ''))" />

  <!-- send urdf to param server -->
  <param name="robot_description" if="$(arg load_robot_description)"
    command="$(find xacro)/xacro --inorder '$(find prbt_support)/urdf/prbt.xacro' gripper:=$(arg gripper)" />


  <!-- Starting nodes ============================================================================================= -->
  <!-- robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <!-- relay to /joint_states -->
  <node ns="prbt" name="joint_state_relay" pkg="topic_tools" type="relay" args="/prbt/joint_states /joint_states"/>

  <!-- Start the driver -->
  <node ns="prbt" name="driver" pkg="canopen_motor_node" type="canopen_motor_node" output="screen" clear_params="true">
    <rosparam command="load" file="$(arg canopen_config)" />

    <!-- Allow can grippers to interfere with the canopen_motor_node parameters -->
    <rosparam unless="$(eval not arg('gripper'))" command="load"
              file="$(eval find('prbt_'+ gripper + '_support') + '/config/gripper_driver_canopen_motor_node.yaml')" />
  </node>

  <!-- Load controller configuration -->
  <rosparam ns="prbt" command="load" file="$(find prbt_support)/config/manipulator_controller.yaml" />
  <rosparam unless="$(eval not arg('gripper'))" ns="prbt" command="load"
            file="$(eval find('prbt_'+ gripper + '_support') + '/config/gripper_controller.yaml')" />

  <!-- Spawn controllers -->
  <node ns="prbt" name="controller_spawner" pkg="controller_manager" type="spawner" args="$(arg spawn_controllers)" />

  <!-- Initialize driver -->
  <node pkg="rosservice" type="rosservice" name="robot_init" args="call --wait /prbt/driver/init"/>

  <!-- Open modbus connection and required modules -->
  <group if="$(arg iso10218_support)">
    <include file="$(find prbt_hardware_support)/launch/safety_interface.launch">
      <arg name="safety_hw" value="$(arg safety_hw)"/>
      <arg name="read_api_spec_file" value="$(arg read_api_spec_file)" />
      <arg name="write_api_spec_file" value="$(arg write_api_spec_file)" />
      <arg name="modbus_server_ip" value="$(arg modbus_server_ip)" />
      <arg name="has_braketest_support" value="$(arg has_braketest_support)"/>
      <arg name="has_operation_mode_support" value="$(arg has_operation_mode_support)"/>
    </include>
    <!-- Status Indicator -->
    <node pkg="pilz_status_indicator_rqt" name="pilz_status_indicator_rqt" type="pilz_status_indicator_rqt"
          if="$(arg visual_status_indicator)" />
  </group>

  <!-- If no safety controller is connected, further initialization steps are required -->
  <group unless="$(arg iso10218_support)">
    <node name="robot_recover" pkg="rosservice" type="rosservice"
          args="call --wait /prbt/driver/recover"/>
    <node name="controller_unhold" pkg="rosservice" type="rosservice"
          args="call --wait /prbt/manipulator_joint_trajectory_controller/unhold"/>
    <!-- The following provides a fake speed override -->
    <include file="$(find prbt_hardware_support)/launch/fake_safety_interface.launch" />
  </group>

  <!-- System info node to output robot firmware version to console -->
  <include file="$(find prbt_support)/launch/system_info.launch" />

</launch>
